{
  "plugins": ["prettier-plugin-tailwindcss"],
  "endOfLine": "lf",
  "tabWidth": 2,
  "semi": true,
  "bracketSameLine": true,
  "trailingComma": "all",
  "singleQuote": true,
  "arrowParens": "avoid"
}
