footer {
  position: fixed;
  opacity: 0.9;
  box-shadow: 0 -2px 10px var(--nextui-colors-navbarActive);
  background-color: var(--nextui-colors-navbarActive);
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  text-align: center;
}
