.sectionFeatured{
  margin-top: 15%;
  height: 40%;
  width: 100%;
  justify-content: center;
}

.headingFeaturedIn{
  width: 100%;
  justify-content: center;
  color: gray;
}


.containerFeaturedIn{
  display: grid;
  width: 80%;
  flex-direction: row;
  justify-content: center;
  align-content: space-around ;
}

.featuredInlogos{
  align-items: center;
  width: 100px;
  display: inline-flex;
  align-content: space-between;
}