.sectionCta{
  margin-top: 3%;
  padding: 4.8rem;
}

.sectionCtaContainer{
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-image: var(--nextui-colors-ctaSectionBackgroundImg);
  box-shadow: 0 2.4rem 4rem rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  overflow: hidden;
}

.ctaForm{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2.4rem;
  row-gap: 1.2rem;
}

.ctaForm label{
  display: block;
  font-size: 1.2rem;
  color: white;
  opacity: 85%;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.ctaForm input,
.ctaForm select{
  width: 100%;
  padding: 0.5rem;
  height: 50px;
  font-size: 0.8rem;
  border-radius: 8px;
  font-family: inherit;
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.ctaForm button{
  display: inline-block;
  background-color: var(--nextui-colors-navbarActive);
  margin-top: 37px;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bolder;
  height: 60%;
  border-radius: 8px;
  transition: all 0.3s;
  color: var(--nextui-colors-ctaButtonColor);
  cursor: pointer;
  border:none;
  font-family: inherit;
}


.ctaTextBox{
  padding: 2.4rem 3.6rem;
  font-weight: bolder;
}
.headingSecondary{
  color: white;
  opacity: 85%;
  font-weight: bolder;
  margin-left: -10px;
}

.ctaText{
  color: white;
  opacity: 85%;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-bottom: 3.6rem;
}

.ctaImageBox{
  background-image: url("../assets/girlsittingathome.jpg") ;
  background-size: cover;
  background-position: center;
}