/* footer {
  position: fixed;
  width: 100%;
  height: auto;
  opacity: 0.9;
  box-shadow: 0 -2px 10px var(--nextui-colors-navbarActive);
  background-color: var(--nextui-colors-navbarActive);
  bottom: 0;
  padding: 8px;
  text-align: center;
} */

footer{
  padding: 9.6rem;
}

.containerGridForFooter{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
