.registrationField {
  background-color: white;
  width: 250px;
  height: 260px;
  border: solid 2px;
  border-color: lightgray;
  border-radius: 5px;
}

h1 {
  color: orangered;
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 30px;
  text-align: center;
}
.regIcon {
  grid-area: regIcon;
  width: 15px;
}
.mailIcon{
    grid-area: mailIcon;
  width: 15px;
}
.passwordIcon{
    grid-area: passwordIcon;
  width: 15px;
}

.userName {
  grid-area: userName;
  height: 20px;
  border: 0;
  margin-bottom: 5px;
}

.email {
  grid-area: email;
  height: 20px;
  border: 0;
  margin-bottom: 5px;
}

.password {
  grid-area: password;
  height: 20px;
  border: 0;
  margin-bottom: 5px;
}

.inputField {
  display: grid;
  grid-template-columns: 8% 50%;
  grid-template-rows: 30% 30% 30%;
  justify-content: center;
  grid-template-areas:
    "regIcon userName"
    "mailIcon email"
    "passwordIcon password";
}

.termsAndConditions {
  grid-area: termsAndConditions;
  font-size: 14px;
  font-weight: 400;
  color: #00bfff;
  margin: 0;
}
.checkbox {
  grid-area: checkbox;
  margin: 0;
  
}
.btnRegistration {
  grid-area: btnRegistration;
  color: white;
  background-color: #66cdaa;
  border-color: #66cdaa;
  border-radius: 5px;
  width: 150px;
  justify-self: center;
}

.termsField {
  display: grid;
  grid-template-rows: 30% 25% 55% 60%;
  justify-content: center;
  grid-template-areas:
    "termsAndConditions"
    "checkbox"
    "btnRegistration"
    "existingAccount";
}

.existingAccount{
    grid-area: existingAccount;
    font-size: 12px;
    color: orangered;
    align-self: end;
    

}

// <>
// <div className="registrationField">
//   <h1>Registration</h1>
//   <div className="inputField">
//   <input type="text" className="userName" placeholder="UserName*" />
//   <br />
//   <input type="text" className="email" placeholder="Email*" />
//   <br />
//   <input type="text" className="password" placeholder="Password*" />
//   </div>
//   <p className="termsAndConditions">Terms and conditions.*</p>
//   <input type="checkbox" className="checkBox" />
//   <br />
//   <button className="btnRegistration">Registration</button>
// </div>
//   <div className="existingAccount"></div>
