* {
  outline: none;
}
.inactiveLink {
  border-radius: 10px;
  padding: 12px;
  transition: ease-out;
  transition-duration: 0.15s;
}
.activeLink,
.inactiveLink:hover {
  background: LightGray;
  padding: 12px;
  border-radius: 10px;
}
