#shopField{
    background-color: lightgray;
    border: solid gray 3px;
    

}

.shopHeader{
    color: orangered;
    text-align: center;
}
#menu{
    display: grid;
    grid-template-columns:  70px 200px;
    color: darkgray;
    padding-left: 30px;

}

#validity{
    grid-area: validity;
}
#description{
    grid-area: description;
}
#cost{
    grid-area: cost;
}
#timeValid{
    grid-area: timeValid;
}
#button{
    grid-area: button;
}


