<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="testShop.css" />
  </head>
  <body>
    <div id="shopField">
      <div class="shopHeader">
        <div>Tickets & PASSES</div>
        <div id="menu">
          <p>TICKETS</p>
          <p>PASSES</p>
        </div>
      </div>
      <div class="addToCard">
        <h4 id="validity">One day ticket</h4>
        <div id="description">You can use this ticket for24 hours!</div>
        <div id="cost">900 Ft</div>
        <div id="timeValid">48 h</div>
        <button id="button">Add to cart</button>
      </div>
    </div>
  </body>
</html>
